$purple_primary: #2b134b;
$purple_secondary: #311556;
$black_primary: #1d1a21;
$black_secondary: #1f1c23;
$yellow_secondary: #fff39b;
$yellow_primary: #FAE849;
$white: #fefefe;
$pink_primary: #f1209d;
