/* FONT */
@font-face {
  src: url(../fonts/PAC.TTF);
  font-family: pac; }

@font-face {
  src: url(../fonts/Poppins-Medium.TTF);
  font-family: poppinsM; }

/* Glitch animation Exlore */
.explore_button {
  position: relative;
  font-size: 36px;
  font-family: poppinsM;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
  cursor: pointer; }

.explore_button::before,
.explore_button::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.explore_button::before {
  /* variation */
  left: 2px;
  text-shadow: -1px 0px red;
  /* call animation */
  -webkit-animation: example-one-anim-1 2s infinite linear alternate-reverse;
          animation: example-one-anim-1 2s infinite linear alternate-reverse; }

.explore_button::after {
  /* variation */
  left: -2px;
  text-shadow: -1px 0 blue;
  /* call animation */
  -webkit-animation: example-one-anim-2 2s infinite linear alternate-reverse;
          animation: example-one-anim-2 2s infinite linear alternate-reverse; }

@-webkit-keyframes example-one-anim-1 {
  0% {
    clip: rect(43px, 450px, 48px, 0); }
  5.88235% {
    clip: rect(114px, 450px, 7px, 0); }
  11.76471% {
    clip: rect(40px, 450px, 60px, 0); }
  17.64706% {
    clip: rect(106px, 450px, 8px, 0); }
  23.52941% {
    clip: rect(65px, 450px, 93px, 0); }
  29.41176% {
    clip: rect(75px, 450px, 113px, 0); }
  35.29412% {
    clip: rect(89px, 450px, 109px, 0); }
  41.17647% {
    clip: rect(41px, 450px, 1px, 0); }
  47.05882% {
    clip: rect(110px, 450px, 68px, 0); }
  52.94118% {
    clip: rect(102px, 450px, 86px, 0); }
  58.82353% {
    clip: rect(81px, 450px, 30px, 0); }
  64.70588% {
    clip: rect(35px, 450px, 64px, 0); }
  70.58824% {
    clip: rect(111px, 450px, 113px, 0); }
  76.47059% {
    clip: rect(42px, 450px, 19px, 0); }
  82.35294% {
    clip: rect(104px, 450px, 9px, 0); }
  88.23529% {
    clip: rect(7px, 450px, 90px, 0); }
  94.11765% {
    clip: rect(72px, 450px, 57px, 0); }
  100% {
    clip: rect(109px, 450px, 7px, 0); } }

@keyframes example-one-anim-1 {
  0% {
    clip: rect(43px, 450px, 48px, 0); }
  5.88235% {
    clip: rect(114px, 450px, 7px, 0); }
  11.76471% {
    clip: rect(40px, 450px, 60px, 0); }
  17.64706% {
    clip: rect(106px, 450px, 8px, 0); }
  23.52941% {
    clip: rect(65px, 450px, 93px, 0); }
  29.41176% {
    clip: rect(75px, 450px, 113px, 0); }
  35.29412% {
    clip: rect(89px, 450px, 109px, 0); }
  41.17647% {
    clip: rect(41px, 450px, 1px, 0); }
  47.05882% {
    clip: rect(110px, 450px, 68px, 0); }
  52.94118% {
    clip: rect(102px, 450px, 86px, 0); }
  58.82353% {
    clip: rect(81px, 450px, 30px, 0); }
  64.70588% {
    clip: rect(35px, 450px, 64px, 0); }
  70.58824% {
    clip: rect(111px, 450px, 113px, 0); }
  76.47059% {
    clip: rect(42px, 450px, 19px, 0); }
  82.35294% {
    clip: rect(104px, 450px, 9px, 0); }
  88.23529% {
    clip: rect(7px, 450px, 90px, 0); }
  94.11765% {
    clip: rect(72px, 450px, 57px, 0); }
  100% {
    clip: rect(109px, 450px, 7px, 0); } }

@-webkit-keyframes example-one-anim-2 {
  0% {
    clip: rect(53px, 450px, 34px, 0); }
  5.88235% {
    clip: rect(86px, 450px, 48px, 0); }
  11.76471% {
    clip: rect(90px, 450px, 81px, 0); }
  17.64706% {
    clip: rect(35px, 450px, 81px, 0); }
  23.52941% {
    clip: rect(10px, 450px, 26px, 0); }
  29.41176% {
    clip: rect(38px, 450px, 32px, 0); }
  35.29412% {
    clip: rect(23px, 450px, 6px, 0); }
  41.17647% {
    clip: rect(77px, 450px, 61px, 0); }
  47.05882% {
    clip: rect(14px, 450px, 70px, 0); }
  52.94118% {
    clip: rect(30px, 450px, 3px, 0); }
  58.82353% {
    clip: rect(17px, 450px, 6px, 0); }
  64.70588% {
    clip: rect(106px, 450px, 72px, 0); }
  70.58824% {
    clip: rect(78px, 450px, 65px, 0); }
  76.47059% {
    clip: rect(32px, 450px, 47px, 0); }
  82.35294% {
    clip: rect(52px, 450px, 19px, 0); }
  88.23529% {
    clip: rect(27px, 450px, 32px, 0); }
  94.11765% {
    clip: rect(90px, 450px, 90px, 0); }
  100% {
    clip: rect(1px, 450px, 113px, 0); } }

@keyframes example-one-anim-2 {
  0% {
    clip: rect(53px, 450px, 34px, 0); }
  5.88235% {
    clip: rect(86px, 450px, 48px, 0); }
  11.76471% {
    clip: rect(90px, 450px, 81px, 0); }
  17.64706% {
    clip: rect(35px, 450px, 81px, 0); }
  23.52941% {
    clip: rect(10px, 450px, 26px, 0); }
  29.41176% {
    clip: rect(38px, 450px, 32px, 0); }
  35.29412% {
    clip: rect(23px, 450px, 6px, 0); }
  41.17647% {
    clip: rect(77px, 450px, 61px, 0); }
  47.05882% {
    clip: rect(14px, 450px, 70px, 0); }
  52.94118% {
    clip: rect(30px, 450px, 3px, 0); }
  58.82353% {
    clip: rect(17px, 450px, 6px, 0); }
  64.70588% {
    clip: rect(106px, 450px, 72px, 0); }
  70.58824% {
    clip: rect(78px, 450px, 65px, 0); }
  76.47059% {
    clip: rect(32px, 450px, 47px, 0); }
  82.35294% {
    clip: rect(52px, 450px, 19px, 0); }
  88.23529% {
    clip: rect(27px, 450px, 32px, 0); }
  94.11765% {
    clip: rect(90px, 450px, 90px, 0); }
  100% {
    clip: rect(1px, 450px, 113px, 0); } }

svg {
  width: 100vw;
  height: 80vh; }

/* HOME */
/* ADD TRAME BACKGROUND */
.section_home {
  background: -webkit-repeating-linear-gradient(bottom, #2b134b, #2b134b 5px, #311556 5px, #311556 10px);
  background: repeating-linear-gradient(0deg, #2b134b, #2b134b 5px, #311556 5px, #311556 10px);
  width: 100vw;
  height: 100vh;
  position: relative; }

/* ANIMATION LOGO */
.st0 {
  fill: none;
  stroke: #E73291;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.st1 {
  fill: none;
  stroke: #FAE849;
  stroke-width: 3;
  stroke-miterlimit: 10; }

.st2 {
  fill: none;
  stroke: url(#SVGID_1_);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 400;
  -webkit-animation: neon 25s linear infinite reverse;
          animation: neon 25s linear infinite reverse; }

.st3 {
  fill: none;
  stroke: url(#SVGID_2_);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 400;
  -webkit-animation: neon 25s linear infinite;
          animation: neon 25s linear infinite; }

@-webkit-keyframes neon {
  to {
    stroke-dashoffset: 2000; } }

@keyframes neon {
  to {
    stroke-dashoffset: 2000; } }
