/* FONT */
@font-face {
  src: url(../fonts/PAC.TTF);
  font-family: pac;
}

@font-face {
  src: url(../fonts/Poppins-Medium.TTF);
  font-family: poppinsM;
}

@font-face {
  src: url(../fonts/Roboto-Light.TTF);
  font-family: roboto light;
}

@font-face {
  src: url(../fonts/Roboto-Thin.TTF);
  font-family: roboto thin;
}

@font-face {
  src: url(../fonts/Streamster.TTF);
  font-family: streamster;
}
@font-face {
  src: url(../fonts/OratorStd.OTF);
  font-family: orator;
}
