.clear {
  clear:both;
}
.contact_container_left {
  color:$white;
  width:70%;
  float:left;
}
.contact_container_right {
  color:$white;
  width:70%;
  float:right;
  text-align:right;

}
.contact_container_right .contact_title_thirdPart {
  margin-right:0;
}
.contact_section {
  width:80%;
  margin:auto;
  padding-top:2rem;
}

.contact_title_container {
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 1rem;

}

.contact_title_thirdPart {
  width:fit-content;
  margin:auto;
  color:$pink_primary;
  font-family: streamster;
  font-size: 2rem;
  font-style: italic;
  margin-top: 0;
  transform: rotate(-5deg);
  text-shadow: 0px 0px white;
  margin-top: -0.5rem;

}

@include desktop {
  .contact_container_left .contact_title_thirdPart {
    margin:0;
    margin-bottom:2rem;

  }
  .contact_title_thirdPart {
    font-size:3rem;
  }
  .contact_container_right .contact_title_thirdPart {
    margin-bottom: 2rem;

  }
}

