.reverse_order .infos_image_influx {
  order:1;
}
.reverse_order .infos_subtitle_container {
  order:2;
}
.reverse_order .infos_presentation_text {
  order:3;
}
.infos_switch_hide {
  display:none;
  opacity:0;
  visibility:hidden;
  transition:opacity 0.5s ease-in;
}

.infos_title_container {
  transform:translateY(15rem);
}
.infos_switch_visible {
  display:block;
  visibility:visible;
}
.infos_switcher_container {
  color:#ea1b8e;
  font-size:2.5rem;
  font-family:streamster;
  position:absolute;
  right:3rem;
  top:3rem;


}
.infos_switch_button1 {
  opacity:1;

}.infos_switch_button2 {
   opacity:0;
 }
.infos_switcher_button {
  padding:1rem;
  transform:rotate(-5deg);
  cursor:pointer;
  transition:opacity 0.5s ease-in;
}
.infos_subtitle_thirdPart_left {
  margin: auto;
  transform: translateY(0rem) translateX(0rem) rotate(-5deg);
}
.infos_footer_container {
  background: repeating-linear-gradient(
                  0deg,
                  #1d1a21,
                  #1d1a21 2px,
                  #1f1c23 2px,
                  #1f1c23 5px
  );
  padding-bottom:1rem;
}

.infos_footer_container .footer_social_container {
  margin-top:0;
}
@include desktop {

  .infos_switcher_container {
    color:#ea1b8e;
    font-size:2.5rem;
    font-family:streamster;
    position:absolute;
    right:5rem;
    top:10rem;


  }
  .infos_localisation {
    margin: 0;
    transform: none;
  }

  .infos_title_container {
    transform: translateX(10rem) translateY(5rem);
    width: 200%;
  }

  .infos_container {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  .infos_subsection {
    width: 90%;
    margin: auto;
    padding:3rem;

  }
  .infos_adress_container {
    transform: translateY(8rem);
  }
  .infos_adress {
    width: 250%;
    padding-top: 1rem;
  }

  .presentation_subsection .infos_image_influx {
    width: auto;
    height: 25rem;
    margin: 0;
    transform:translateY(-6rem);
  }
  .infos_subtitle_thirdPart_right {
    margin: auto;
    transform: translateY(-13rem) translateX(-5rem) rotate(-5deg);
  }
  .infos_subtitle_container {
    width: 155%;

  }
  .presentation_subsection .infos_presentation_text {
    width: 150%;
    padding:0;
    margin: auto;
     transform:translateX(-10rem);

  }
  .infos_subtitle_thirdPart_left {
    transform: translateY(-8rem) translateX(0rem) rotate(-5deg);
  }
  .infos_footer_container {
    padding-bottom:0rem;
  }
  .reverse_order .infos_image_influx {
    order:3;
  }
  .reverse_order .infos_subtitle_container {
    order:1;
  }
  .reverse_order .infos_presentation_text {
    order:2;
  }

}