/* Menu */
.menu {
  font-family: poppinsM;
  font-size:20px;
  color:white;
  width: fit-content;
  margin-top: 5vw;
  margin-left: 5vh;
  float:left;
}



/* BACKGROUND animation */

@keyframes focus {
  from {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  to {
    background-position: 0px 100px, 0px 100px, 0px -100px, 0 -100px;
  }
}


/*PROGRAMMATION */

.section_programmation {

  background: repeating-linear-gradient(
                0deg,
                #2d1351,
                #2d1351 2px,
                #311556 2px,
                #311556 5px
);
  width: 100vw;
  height: 100vh;
  position: relative;
  animation:10s focus linear infinite alternate;

}

.programmation_container {
  width:80%;
  margin:auto;
  padding-top:5%;
  position:relative;
}
.programmation_artist {
  font-family:"roboto light";
  font-size:16px;
  text-align:center;
  padding:5%;
  color:white;
  position:relative;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
.programmation_title__container {
  position:relative;
  width:30%;
  margin:auto;
  height:80px;
  padding-top:15%;

}
.programmation_title__firstPart {
  width:fit-content;
  margin:auto;
  color: #fff39b;
  font-family: roboto thin;
  font-size:50px;
  font-style:italic;
  margin-top:0;
  padding-top:5%;
  position:absolute;
  top:50px;
  text-shadow:2px 2px #f1209d;

}



.programmation_title__thirdPart {
  width:fit-content;
  margin:auto;
  color:#fe00af;
  font-family: streamster;
  font-size:50px;
  font-style:italic;
  margin-top:0;
  padding-top:5%;
  position:absolute;
  transform:rotate(-5deg);
  bottom:-10px;
  left:-60px;
  text-shadow:0px 0px white;
}
/* Glitch animation Artist */



.programmation_artist.changed::before,
.programmation_artist.changed::after {
  content: attr(data-text);
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
}

.programmation_artist.changed::before {
  /* variation */
  left: 2px;
  text-shadow: -1px 0px red;

  /* call animation */
  animation: example-one-anim-1 2s infinite linear alternate-reverse;
}

.programmation_artist.changed::after {
  /* variation */
  left: -2px;
  text-shadow: -1px 0 blue;

  /* call animation */
  animation: example-one-anim-2 2s infinite linear alternate-reverse;
}

.image_artist {
  width:30%;
  position:absolute;
  opacity:0;
}


/*PRESENTATION*/


.presentation_title__container {
  position:relative;
  width:30%;
  margin:auto;
  height:80px;


}
.presentation_title__firstPart {
  width:fit-content;
  margin:auto;
  color: #fff39b;
  font-family: roboto thin;

  font-style:italic;
  margin-top:0;
  padding-top:5%;
  position:absolute;
  top:45px;
  left: 00px;
  font-size: 30px;
  text-shadow:2px 2px #f1209d;

}



.presentation_title__thirdPart {
  width:fit-content;
  margin:auto;
  color:#fe00af;
  font-family: streamster;
  font-size:50px;
  font-style:italic;
  margin-top:0;
  padding-top:5%;
  position:absolute;
  transform:rotate(-5deg);

  left:-20px;
  top: 0px;
  text-shadow:0.5px 0.5px white;
}
.presentation_subtitle__thirdPart {
  width:fit-content;
  margin:auto;
  color:#fe00af;
  font-family: streamster;
  font-size:50px;
  font-style:italic;
  margin-top:0;
  padding-top:5%;
  position:absolute;
  transform:rotate(-5deg);

  left:-80px;
  top:-50px;
  text-shadow:0.5px 0.5px white;
}
.presentation_subtitle__container {
  position:relative;
  width:80%;
  margin:auto;
  height:80px;


}
.arcade {
  left:0px;
  top:-50px;
}
.presentation_text {
  width:80%;
  margin:auto;
  text-align:justify;
  font-family:roboto light;
  font-size:14px;

}
.purple_text {
  color:#2d1351;
}
.white_text {
  color:#fff;
}
.bold_text {
  font-family:poppinsM;
}
.presentation_image_outflux {
  width:80%;
  display:block;
  position:absolute;
  top:-10%;
  left: 0;
  margin: auto;
  right: 0;
}
.presentation_image_influx {
  width:80%;
  margin:auto;
  display:block;
}
.presentation_information_annexe {
  text-transform: uppercase;
  font-family:roboto thin;
  color:#fded48;
  font-size:14px;
}

.learn_more {
  margin-bottom:20%;
}


.presentation_background_white {
   padding-top:15%;
   padding-bottom:60%;
 }

.presentation_background_purple {
  position:relative;
  padding-top:60%;
  padding-bottom:15%;
  background: repeating-linear-gradient(
                  0deg,
                  #2d1351,
                  #2d1351 2px,
                  #311556 2px,
                  #311556 5px
  );
}
.presentation_background_purple_exception {
  position:relative;
  padding-top:5%;
  padding-bottom:5%;
  background: repeating-linear-gradient(
                  0deg,
                  #2d1351,
                  #2d1351 2px,
                  #311556 2px,
                  #311556 5px
  );
}
/* LOCALISATION */

.footer_localisation {
 max-width:100%;
  display:block;
}

.localisation_title__thirdPart {
  width:fit-content;
  margin:auto;
  color:#fe00af;
  font-family: streamster;
  font-size:50px;
  font-style:italic;
  margin-top:0;
  padding-top:5%;
  position:absolute;
  transform:rotate(-5deg);

  left:20px;
  top: -65px;
  text-shadow:0.5px 0.5px white;
}


.localisation_title__container {
  position:absolute;
  width:80%;
  margin:auto;
  height:80px;

}

.footer_container {
  position:relative;

  background: repeating-linear-gradient(
                  0deg,
                  #1d1a21,
                  #1d1a21 2px,
                  #1f1c23 2px,
                  #1f1c23 5px
  );
  padding-bottom:2em;
}
.footer_adress {
  width:80%;
  margin:auto;
  padding-top:25px;
}

.footer_adress_name {
  text-transform: uppercase;
  font-family:roboto thin;
  color:#fded48;
  font-size:14px;
  margin:0;
  margin-bottom:4px;
}

.footer_adress_localisation {
  font-family:roboto light;
  font-size:14px;
  color:#fff;
  margin:0;


}

.footer_social_container {
  text-align:center;
  margin-top:2em;
  margin-bottom:2em;
}
.footer_social_icons {
  width:40px;
  margin:25px;

}

.footer_annexe {
  text-align:center;
  text-transform: uppercase;
  color:#fff;
  font-family: roboto thin;
  font-size:12px;
}

.footer_annexe p {
  margin:2em;
}