/* Menu */
.menu {
  font-family: poppinsM;
  font-size:20px;
  color:white;
  width: fit-content;
  margin-top: 5vw;
  margin-left: 5vh;
  float:left;
}
/* Glitch animation Explore */

.explore_button {
  position: relative;
  font-size: 20px;
  font-family: poppinsM;
  color: white;

  text-align: center;
  margin: auto;
  display:block;
  cursor: pointer;
  text-decoration:none;

  @include glitch-text;
}

svg {
  width: 100vw;
  height: 100vh;
  margin-bottom: -30vh;
  margin-top: -5vh;
}

/* HOME */

/* ADD TRAME BACKGROUND */
.section_home {
  @include gradient-purple;
  width: 100vw;
  height: 100vh;
  position: relative;
  animation:10s focus linear infinite alternate;

}

/* ANIMATION LOGO */
.cls-2{
  fill: none;
  stroke: $pink_primary;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.cls-3 {
  fill: none;
  stroke: $yellow_primary;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.cls-4 {
  fill: none;
  stroke: url(#SVGID_1_);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 400;
  animation: neon 25s linear infinite reverse;
}

.cls-5 {
  fill: none;
  stroke: url(#SVGID_2_);
  stroke-width: 3;
  stroke-miterlimit: 10;
  stroke-dasharray: 400;
  animation: neon 25s linear infinite;
}

@keyframes neon {
  to {
    stroke-dashoffset: 2000;
  }
}


/* BACKGROUND animation */

@keyframes focus {
  from {
    background-position: 0 0, 0 0, 0 0, 0 0;
  }
  to {
    background-position: 0px 100px, 0px 100px, 0px -100px, 0 -100px;
  }
}

@include desktop {
    html{
      font-size: 20px;
      line-height: 2rem;
    }
    svg {
      width: 100vw;
      height: 120vh;
      margin-top: -10vh;
      margin-bottom: -25vh;
    }
}
