.sliders{
  min-width: 100vw;
  color: $white;
  font-family: roboto thin;
  overflow-y: hidden;
  @include gradient-purple;
}

.slider{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-height: 100vh;
  width: auto;
  overflow: hidden;

  &--cross{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1rem;
  }
  // Border with gradients
  &:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, $yellow_primary 0%, $pink_primary 100%);
    border-image-slice: 1;
    z-index: 9;
    pointer-events: none;
  }
}

.slider__artist{
  position: relative;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  text-align: center;

  // Opacity filter on slider
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: $black_primary;
    height: 100vh;
    width: 100vw;
    opacity: .5;
  }

  & img{
    max-height: 100vh;
  }
  &--infos{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2{
      font-family: poppinsM;
      @include glitch-text;
    }
  }
  &--date{
    & h3{
      font-family: streamster;
      color: $pink_primary;
      font-size: 1.5rem;
    }
  }
  &--scene{
    & h3{
      font-family: streamster;
      color: $yellow_primary;
      font-size: 1.5rem;
    }
  }
  &--story{
    & h3{
      font-family: poppinsM;
    }
  }
  &--links{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    & a{
      display: block;
      color: $white;
    }
  }
}

.slider__artist--1, .slider__artist--2, .slider__artist--3{
  display: none;
}

.slider--scale{
  transform: scale(.8);
}
