.body--wrap{
  color: $white;
  font-family: roboto thin;
  @include gradient-purple;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sliders{
  overflow-y: hidden;
  position: relative;
  width: 100vw;
  height: 60vh;
  transition: all .3s ease;
  &.display--artist{
    width: 100vw;
    height: 100vh;

    & .slider{
      width: 100vw;
      height: 100vh;
    }

    & .slider--hidden{
      width: 0;
      height: 0;
    }
    & .slide__artist--infos{
      justify-content: flex-start;
    }
  }
}

.slider{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  transition: all .3s ease;
  transition-property: height, width, opacity;

  &--cross{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1rem;
  }
}

.slide__artist{
  position: relative;
  min-height: 100%;
  overflow: hidden;
  text-align: center;
  display: block;
  transition: all .3s .3s ease;

  // Border with gradients
  &:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, $yellow_primary 0%, $pink_primary 100%);
    border-image-slice: 1;
    z-index: 9;
    pointer-events: none;
  }

  &--content{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  & img{
    height: 100%;
  }
  &--infos{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 1rem 0 0;

    & h2{
      font-family: poppinsM;
      @include glitch-text;
    }
  }
  &--date{
    & h3{
      font-family: streamster;
      color: $pink_primary;
      font-size: 1.5rem;
    }
  }
  &--scene{
    & h3{
      font-family: streamster;
      color: $yellow_primary;
      font-size: 1.5rem;
    }
  }
  &--story{
    & h3{
      font-family: poppinsM;
    }
  }
  &--links{
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    & a{
      display: block;
      color: $white;
    }
  }
}

.item--hidden{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.day__menu{
  width: 100%;
  padding: 0;
  text-transform: uppercase;
  font-family: poppinsM;
  list-style: none;
  display: flex;
  justify-content: space-around;

  &--button{
    display: inline-block;
  }
}

.selected{
  color: $yellow_primary;
  @include glitch-text;
}

.chevron{
  display: flex;
  position: absolute;
  z-index: 10;
  top: 0;

  &--left{
    left: 1.5rem;
  }
  &--right{
    bottom: 0;
    right: 1.5rem;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// Hide slides or sliders
.slide--hidden, .slider--hidden{
  visibility: hidden;
  opacity: 0;
  width: 0;
}
// Show selected slide or slider
.slide--active{
  visibility: visible;
  opacity: 1;
  min-width: 100%;
}

.slider--active{
  visibility: visible;
  opacity: 1;
}

.slider--hidden{
  opacity: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.programmation_title_container--hidden,
.programmation_title_container--hidden > *,
.menu--hidden,
.chevron--hidden{
  visibility: hidden;
  opacity: 0;
  padding: 0;
  height: 0;
  width: 0;
  background: #000;
}

@include desktop{
  .body--wrap{
    overflow: visible;
    height: auto;
    min-height: 100vh;
  }

  .slide__artist{
    &--content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--infos{
      position: relative;
    }
  }
  .item--hidden{
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .cross--hidden{
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
